<app-backbutton [page]="'/home'"></app-backbutton>
<h1 class="main-title">My socks</h1>
<div class="mainContent" id="listOfSocks">
    <ng-container *ngIf="userSocks | async as socks; else loading" >

        <ng-container *ngIf="socks.length > 0; else noSock">
            <div *ngFor="let registeredSock of socks">
                <app-registered-sock [sock]="registeredSock"></app-registered-sock>
            </div>
        </ng-container>
        <ng-template #noSock>
            <h2>Register a new sock first</h2>
        </ng-template>
    </ng-container>
    <ng-template #loading>
        <div>Loading data...</div>
    </ng-template>

</div>