<h1 class="main-title">Matching socks</h1>
<div class="mainContent" id="listOfSocks">
    <div id="mySock">
        <h2>My sock</h2>
        <img src={{mySock.picture}} width="100%" alt="Base64 Image"/>
        <p>{{typeToString(mySock)}} {{mySock.shoeSize}}</p>
    </div>
    <ng-container *ngIf="socks.length > 0" style="display:grid">
        <h2>Potential matches</h2>
        <div *ngFor="let proposedSock of socks" id="sockCard">
            <app-proposed-sock [sock]="proposedSock"></app-proposed-sock>
        </div>
    </ng-container>
    <ng-container *ngIf="socks.length === 0">
        <h2>There is no sock matching</h2>
    </ng-container>
</div>