h1 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}


.form {
    grid-column: 1/4;
    grid-row: 2/-1;
}

.title {
    font-size: 4rem;
    padding-top: 3rem;
}


#arrow-down {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 3rem;
}

