
// Global variables
$unit: 'rem';

// 1rem = 10px 
:root {
  font-size: 62.5%;
}

// Font-size for texts
$text_font_size: 1.7;

// Font-size for h1
$title_1_font_size: 3.4;

// Font-size for h2 to h6
$title_2_font_size: 2.6;

// Font-family for text
$font_family: Roboto, "Helvetica Neue", sans-serif;
$title_font_family: $font_family;

@import "1_reboot";

@import "2_css-variables";

@import "3_defaults";

@import "4_generic-components";

@import "5_general";


