
.mat-icon {
    font-size: 80px;
    padding-top: 10%;
    grid-column: 1;
    grid-row: 2;
}

#heart {
    color:red;
    display: table;
    margin: 0 auto;
}

#win-sentence {
    grid-column: 1;
    grid-row: 2;
}