h1 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}


form {
    grid-column: 1/4;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: large;
    gap: 1rem;
    justify-content: space-evenly;
}

.title {
    font-size: 4rem;
    padding-top: 3rem;
}

#signupButton {
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#arrow-down {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 3rem;
}