h1 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 2;
}


.form {
    grid-column: 1/4;
    grid-row: 3/-1;
}

.title {
    font-size: 5rem;
}



#loggedIn {
    grid-row: 3;
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3rem;
}